body {
	font-size: 62.5%;
	font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
}

table {
	font-size: 1em;
}

.demo-description {
	clear: both;
	padding: 12px;
	font-size: 1.3em;
	line-height: 1.4em;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}

div#slider-range-vertical {
	background: #cccccc/*{bgColorHeader}*/ url(images/ui-bg_highlight-soft_75_cccccc_1x100.png)/*{bgImgUrlHeader}*/ 50%/*{bgHeaderXPos}*/ 50%/*{bgHeaderYPos}*/ repeat-x/*{bgHeaderRepeat}*/;
}

div#slider-range-vertical > div.ui-widget-header {
	background: #ffffff/*{bgColorContent}*/ url(images/ui-bg_flat_75_ffffff_40x100.png)/*{bgImgUrlContent}*/ 50%/*{bgContentXPos}*/ 50%/*{bgContentYPos}*/ repeat-x/*{bgContentRepeat}*/;
}

div.left {
	float: left;
	color: #fff;
overflow: visible;
position: relative;
text-align: center;
}

div#Main
{
background: #333;
}
div#parent {
}

div#one {
	background: #47a447;
}

div#two {
	background: #3276b1;
}

div#three {
	background: #5bc0de;
}

div#four {
	background: red;
}


div#oneval {
	background: #47a447;
}

div#twoval {
	background: #3276b1;
}

div#threeval {
	background: #5bc0de;
 }

div#fourval {
	background: red;
}

div#totalval {
	background: grey;
}

div.col1, div.col2 {
	width: 250px;
	height: 50px;
	float: left;
	margin-top: 10px;
	text-align: center;
	line-height: 50px;
}

div.col2 {
	margin-left: 20px;
}